/* This file contains the standardized colors! */

:root{
    --intermate-yellow:       #f8a90c;
    --intermate-yellow-hover: #b87e08;
    
    --standard-blue:          #3f51b5;
    --standard-blue-hover:    #1d34b1;
    
    --soft-green:             #63E063;
    --soft-red:               #f56565;
    
    --background-white:       #f4f4f4;
    --light-grey:             #e9e9e9;
};