body{
    /* Positioning */
    margin: 0;

    /* Font */
    font-family: 'Roboto', sans-serif;

    /* Background */
    background-color: white;
    background-image: url("https://git.intermate.nl/CIE_plus_plus/resources/raw/branch/main/images/balls.svg");
    background-size: contain;
}

h1{
    font-size: 40px;
    font-weight: normal;
}

a{
    color: var(--intermate-red);
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > section{
    max-width: 95%;
    width: 750px;
}