header{
    background-color: var(--intermate-yellow);
}

header nav{
    display: flex;
    justify-content: end;
}

header nav div.item{
    padding: 8px 20px;
    margin: 8px;
    color: white;
    font-weight: bold;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

header nav div.item span.icon{
    font-size: 20px;
    margin: 0 0 0 10px;
}

header nav div.item.active{
    color: var(--intermate-yellow-hover);
}

a.spread{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}