header{
    background-color: var(--intermate-yellow);
    border-bottom: 1px solid grey;
}

header nav{
    display: flex;
    justify-content: end;
}

header nav div.item{
    padding: 8px 20px;
    margin: 8px;
    color: white;
    font-weight: bold;

    position: relative;
}

a.spread{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}